FROM_CONTOURS:  # no image, contours only

PREFIX: 	# one string e.g. /u/u49/bajaj/Medical/skull/CThead
		# The data is from CThead01.dat to CThead113.dat,
		# so the PREFIX is CThead, and the SUFFIX is .dat
	femur

SUFFIX:		# one string
	.pts

OUTPUT_FILE_NAME:	# one string, the filename of output polygons 
	#no_writing	# if no_writing, then no output file is generated
	femur

SLICE_RANGE:	# int, int : start & end slice number
	5 53   # for computer generated data, the max is from 1 to 64
#DETZ:           # one float, usually 3, if in contour only, it overwrite 
#        1
#NON_VALID:	# for visualization only, the triangulation may not be valid
SAME_LEVEL:	# only tile between same level
#DIFF_LEVEL_FILES: # put different level tiling into different files
FILE_FOR_MESH_GEN: # prepare the file for mesh generation

